

*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;


}

body{

    height: 100vh;
   display: flex;

   
   justify-content: center;
   align-items: center;


}


.mainCard{

    width: 1000px;
    height: 600px;

    border: 1.5px solid black;
    box-shadow: 0 0 0 3px rgba(13, 70, 193, 0.15);

    border-radius: 2px;

    display: flex;
}

.subCard1{

    width: 500px;
    height: 600px;



    display: flex;
    flex-direction: column;

    /* border-right: 1.5px solid black; */


}

#logo{

    height:100px ;
    width: 500px;

    /* background-color: aquamarine; */

    padding-left: 30px;
    padding-top: 20px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}

.signIN{


    width: 100%;
    height: 100%;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;


}

.signbox{


    width: 300px;

    height: 450px;
    /* border: 1.5px solid black; */

    display: flex;

    flex-direction: column;

    justify-content: space-between;

}

.form-group {
  margin-top: 15px;
  /* margin-bottom: 15px; */
  width: 300px;
}

.form-group label {
  display: block;
  font-size: 16px;
  color: #3b6dd8;
  margin-bottom: 6px;
  font-weight: 500;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  width: 300px;
  padding: 14px 42px 14px 14px;
  font-size: 15px;
  border: 1.5px solid #cfd8f3;
  /* border-radius: 8px; */
  outline: none;
  transition: 0.25s ease;
}

.input-wrapper input::placeholder {
  color: #aaa;
}

.input-wrapper input:focus {
  border-color: #3b6dd8;
  box-shadow: 0 0 0 2px rgba(59, 109, 216, 0.15);
}

.input-wrapper .icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #999;
  cursor: pointer;
}


.btn{

    height: 45px;

    width: 100%;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 16px;

    border:none;
    cursor: pointer;

    color: white;
   
    background: linear-gradient(135deg, #1EC5F3, #167CBA);

 
}

.btn:active{

    background: linear-gradient(135deg, #043e62, #4fcaec);


}




.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 30px 0;
  color: #999;
  font-size: 14px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #ddd;
}

.divider span {
  padding: 0 12px;
  white-space: nowrap;
}


#techLogo{


    height: 60px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* border: 1.5px solid black; */

  

}

.techlogobx{

    height: 50px;

    width: 90px;
    border: 1.5px solid black;
    border-radius: 10px;


    display: flex;

    justify-content: center;
    align-items: center;

    font-size: 20px;
    cursor: pointer;

    



}


.footer{

    height: 75px;
    width: 500px;

    /* background-color: cadetblue; */

    padding-left: 30px;
    padding-top: 20px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-weight: 500;



}

#link{
    text-decoration: none;

    color:#167CBA;
}



.subCard2{

    height: 600px;
    width: 500px;

    background-image: url(abc.jpg);
    background-size: cover;
}